@charset "UTF-8";

#darkBlue{
	color: #1651A4;
}

#blue{
	
	color: #1E89E5;
	
}

#yellow{
	color : #FF9000;
}

#grey{
	background-color : #E9E9E9;
	
}

#white{
	
	background-color: #F4F4F4;
}

h2{
	text-align: center;
}
h1{
	text-align: center;
}




#footerAdapte{
	
	min-height: 73vh;
	
}

main{
	margin : 3vh 10vh 3vh 10vh;

/*	background-color: lightpink;*/

	min-height: 82vh;
	
}

#pageConnexion{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	height: 73vh
}

form{
	margin-right: 10%;
	margin-left: 10%;
}

body{
	
	font-family: sans-serif;
	
}

.ecartHP{
	margin-top: 5vh;
}